/* 
_______ _________          _        _______  _______ 
(  ____ \\__   __/|\     /|( \      (  ____ \(  ____ \
| (    \/   ) (   ( \   / )| (      | (    \/| (    \/
| (_____    | |    \ (_) / | |      | (__    | (_____ 
(_____  )   | |     \   /  | |      |  __)   (_____  )
      ) |   | |      ) (   | |      | (            ) |
/\____) |   | |      | |   | (____/\| (____/\/\____) |
\_______)   )_(      \_/   (_______/(_______/\_______)
                                                       */



 /*
  ______          _       
 |  ____|        | |      
 | |__ ___  _ __ | |_ ___ 
 |  __/ _ \| '_ \| __/ __|
 | | | (_) | | | | |_\__ \
 |_|  \___/|_| |_|\__|___/ */
 
 
.pixel_font
{
    font-family: 'Pixelify Sans', cursive; 
}

.prism_font
{
    font-family: 'Tilt Prism', cursive;
}

.young_serif_font
{
    font-family: 'Young Serif', serif; 
}

.dancingscript
{
    font-family: 'Dancing Script', cursive;
}

.roboto
{
    font-family: 'Roboto', sans-serif;
}
/*  
  _____      _                
/  ____|    | |               
| |     ___ | | ___  _ __ ___ 
| |    / _ \| |/ _ \| '__/ __|
| |___| (_) | | (_) | |  \__ \
 \_____\___/|_|\___/|_|  |___/ */
        
 .netflix_light_gray
 {
    color: #6d6d6eb3

 }

 .netflix_light_black
 {
    color:#33333399

 }

 .netflix_dark_gray
 {
    color: #808080
 }

 .light_gray_color
 {
     color: #414141;
 }

 .netflix_red
 {
    color: #e50914
 }

 .background_blackish_color
 {
    background-color:#232323
 }

 .background_light_blackish_color
 {
    background-color: #414141;
 }
a
{
    text-decoration: none;
}
img
{
    margin-top: 0px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232323;;
}

li 
{
    float: right;
    padding: 10px;
    color: white;
}

#date_button
{
    overflow: hidden;
    overflow-wrap: break-word;
    text-wrap: wrap;
}

#border_white{
    border: 5px solid white;
}

#circular_border
{
    border-radius: 20%; 
    padding: 3%;
    text-wrap: wrap;
    display: flex;
    justify-content: center;
}

#red_text_id
{
    color: red;
    padding-left: 10px;
    font-size: 30px;
    padding: 0px 0px; 
    margin: 0px;
}

#anko_video_id
{
    padding: 0px;
    margin: 0px;
    width: 90%;  
    max-width: 800px; 
    border-radius: 30px; 
    margin-left: 0%; 
    margin-top: 2%;
}

.red_box_mist_shadow
{
    box-shadow: -10px 10px 100px red;
}

.red_box_frame_shadow
{
    box-shadow: 10px 10px 10px red;
}

.red_box_displaced_shadow_right
{
    box-shadow: 20px -15px 20px 2px red;
}

.red_box_displaced_shadow_left
{
    box-shadow: -20px -15px 20px 2px red;
}

.flex_center_align
{
    display: flex; 
    justify-content: center;
}

.date_align
{
    overflow: hidden; 
    text-wrap: wrap; 
    display: flex; 
    justify-content: center;
}

.anko_icon
{
    margin-top: -10%; 
    border-radius: 50%; 
    height: 15%; 
    width: 25%; 
    max-width: 250px; 
    position: relative;
}

.anko_icon:hover
{
    width: 35%; 
    max-width: 300px;
}

.zero_padding_zero_margin
{
 padding: 0px;
 margin: 0px;
}

.recommondations_image_class
{
    max-width: 300px; 
    width: 50%; 
    height: 50%;
    border-radius: 50%;
}

.recommondations_signature_class
{
    color: white; 
    font-size: 1rem;
    padding: 20px;
    align-self: center;
    max-width: 450px;
}

.two_percent_padding_margin
{
    padding: 2%;
    margin: 2%;
}

.name_header
{
    color: white;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 10px 15px;
    font-family: 'Tilt Prism', cursive;
}

.netflix_frame
{
    width: 60%; 
    height: 100%; 
    padding: 15px; 
    margin: 0; 
    border-radius: 10%;
    background-color: #414141;
    font-family: 'Pixelify Sans', cursive;
}

.netflix_Icon
{
    transition: width .1s, height .1s max-width .1s size .1s; 
}

.recommendations_box
{
    border-radius: 10%;
    padding-top: 5%;
    transition: width .1s, height .1s max-width .1s size .1s; 
}

.recommendations_box:hover
{
    background-color: #414141;
    margin : -10px -10px;
}

.netflix_Icon:hover
{
    width: 10rem;
    height: 10rem;
}

.nav_alignment_and_style
{
    color: white;
    text-decoration: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    font-family: 'Young Serif', serif;
    font-weight: 100;
}

.nav_alignment_and_style:link 
{
    color: white;
}
  
/* .nav_alignment_and_style:visited 
{
    color: purple;
} */

.nav_alignment_and_style:hover
{
    color: red;
}

.info_icons
{
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-left: 10px;
    align-self: center;
    transition: width .1s, height .1s;
}

.info_icons:hover
{
    width: 2rem;
    height: 2rem;
}

.flexbox
{
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    flex-wrap: wrap;
}

.aboutme_frame_class
{
    background-color: #232323; 
    padding: 0px; 
    margin: 0px;
    height: auto;
}

.anko_video_class
{
    padding-top: 6%;
    position: relative;
}